Repository KnowYourselves/rentool-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local

    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        types:
          - python
        language: system
        stages:
          - commit

      - id: black
        name: black
        entry: poetry run black
        types:
          - python
        language: system
        stages:
          - commit

      - id: flake8
        name: flake8
        entry: poetry run flake8 --max-line-length=88 --ignore=E203,W503
        exclude: migrations
        language: system
        types:
          - python
        stages:
          - commit

      - id: migrations
        name: check migrations
        entry: poetry run python3 manage.py makemigrations --check --dry-run
        language: system
        verbose: true
        fail_fast: true
        always_run: true
        stages:
          - push

chore: add gitignore
  .gitignore
  .vscode/settings.json
Due: none

chore: remove pycacge
  base/__pycache__/__init__.cpython-39.pyc
  base/__pycache__/admin.cpython-39.pyc
  base/__pycache__/apps.cpython-39.pyc
  base/__pycache__/models.cpython-39.pyc
  base/__pycache__/urls.cpython-39.pyc
  base/__pycache__/views.cpython-39.pyc
  project/__pycache__/__init__.cpython-39.pyc
  project/__pycache__/settings.cpython-39.pyc
  project/__pycache__/urls.cpython-39.pyc
  project/__pycache__/wsgi.cpython-39.pyc
Due: none

chore: add github actions
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  Makefile
Due: none

feat: add dummy change
  base/views.py
Due: isort, black, flake8

chore: add postgress as database
  .github/workflows/tests.yml
  db.sqlite3
  poetry.lock
  project/settings.py
  pyproject.toml
Due: isort, black, flake8

Add djoser
  poetry.lock
  project/settings.py
  project/urls.py
  pyproject.toml
Due: isort, black, flake8

Add djoser (#3)
  poetry.lock
  project/settings.py
  project/urls.py
  pyproject.toml
Due: isort, black, flake8

Add docker stuff
  .dockerignore
  Dockerfile
  docker-compose.yml
  entrypoint.sh
  poetry.lock
  pyproject.toml
  run.sh
Due: none

Add some usage documentation
  README.md
Due: none

Configure the DATABASE_URL env variable to be the main database for Heroku usage
  poetry.lock
  project/settings.py
  pyproject.toml
Due: isort, black, flake8

Fix some config stuff
  project/settings.py
Due: isort, black, flake8

feat(models): add tool listing model
  listings/__init__.py
  listings/admin.py
  listings/apps.py
  listings/migrations/__init__.py
  listings/models/tool_listing_models.py
  listings/tests.py
  listings/views.py
Due: isort, black, flake8

feat(models): add rented tool model
  listings/models/rented_tool_models.py
Due: isort, black, flake8

feat(models): add listing review model
  listings/models/listing_review_models.py
Due: isort, black, flake8

chore: add migrations and django extensions
  listings/migrations/0001_initial.py
  listings/models/__init__.py
  poetry.lock
  project/settings.py
  pyproject.toml
Due: isort, black, flake8

feat(models): add base model
  base/models.py
  listings/migrations/0001_initial.py
  listings/models/listing_review_models.py
  listings/models/rented_tool_models.py
  listings/models/tool_listing_models.py
Due: isort, black, flake8

Allow any host and frontend to call the API
  project/settings.py
Due: isort, black, flake8

Allow any host and frontend to call the API (#6)
  project/settings.py
Due: isort, black, flake8

feat(models): add past tool listing, remove rented tool
  listings/migrations/0001_initial.py
  listings/models/__init__.py
  listings/models/base_listing_models.py
  listings/models/past_tool_listing_models.py
  listings/models/rented_tool_models.py
  listings/models/tool_listing_models.py
Due: isort, black, flake8

feat(models): add listing complaint
  listings/models/listing_complaint_models.py
  listings/models/listing_review_models.py
  listings/models/past_tool_listing_models.py
  listings/models/tool_listing_models.py
Due: isort, black, flake8

chore(models): redo migrations
  listings/migrations/0001_initial.py
Due: isort, black

fix(settings): add allowed hosts env variable
  project/settings.py
Due: isort, black, flake8

fix(settings): add localhost as default allowed host
  project/settings.py
Due: isort, black, flake8

feat(cd): add heroku cd
  .github/workflows/release.yml
Due: none

chore(cd): test heroku cd
  base/views.py
Due: isort, black, flake8

fix(models): add listing complaint to init models and redo migrations
  listings/migrations/0001_initial.py
  listings/models/__init__.py
  listings/models/listing_complaint_models.py
Due: isort, black, flake8

feat(api): add serializers
  listings/serializers/__init__.py
  listings/serializers/listing_complaint_serializer.py
  listings/serializers/listing_review_serializer.py
  listings/serializers/past_tool_listing_serializer.py
  listings/serializers/tool_listing_serializer.py
  project/urls.py
Due: isort, black, flake8

feat(settings): add media support in development
  project/settings.py
  project/urls.py
Due: isort, black, flake8

feat(settings): add devcontainer settings
  .devcontainer/devcontainer.json
Due: none

feat(api): add all initial CRUD endpoints
  listings/serializers/listing_complaint_serializer.py
  listings/serializers/listing_review_serializer.py
  listings/urls.py
  listings/views.py
  listings/views/__init__.py
  listings/views/listing_complaint_views.py
  listings/views/listing_review_views.py
  listings/views/past_tool_listing_views.py
  listings/views/tool_listing_views.py
  project/settings.py
Due: isort, black, flake8

feat: add missing auth config
  poetry.lock
  project/settings.py
  pyproject.toml
Due: isort, black, flake8

feat: add base permission
  base/permissions.py
  listings/views/listing_complaint_views.py
  listings/views/listing_review_views.py
  listings/views/past_tool_listing_views.py
  listings/views/tool_listing_views.py
Due: isort, black, flake8

feat: add tests
  base/tests.py
  listings/migrations/0002_remove_listingcomplaint_user_receiver.py
  listings/models/listing_complaint_models.py
  listings/tests.py
  listings/tests/test_listing_complaint.py
  listings/tests/test_listing_crud.py
  listings/tests/test_listing_review_crud.py
  listings/tests/test_past_tool_listing_crud.py
  listings/urls.py
  poetry.lock
  pyproject.toml
  pytest.ini
Due: isort, black, flake8

fix: update test makefile
  Makefile
Due: none

fix: add .env to ci
  .github/workflows/tests.yml
Due: none

fix: env variable support
  poetry.lock
  project/settings.py
  pyproject.toml
Due: isort, black, flake8

fix: make .env in correct path in ci
  .github/workflows/tests.yml
Due: none

fix: pr issues
  .devcontainer/devcontainer.json
  .github/workflows/tests.yml
  base/tests.py
  listings/tests/test_listing_crud.py
  listings/tests/test_past_tool_listing_crud.py
  listings/urls.py
  pytest.ini
Due: isort, black, flake8

feat: add phone number
  listings/admin.py
  listings/migrations/0001_initial.py
  listings/migrations/__init__.py
  listings/models/__init__.py
  listings/models/custom_user_model.py
  listings/serializers/user_serializer.py
  project/settings.py
Due: isort, black, flake8

feat: add djoser serializer
  .flake8
  listings/serializers/user_serializer.py
  project/settings.py
Due: isort, black, flake8
